* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column;
  color: #172b4d;
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo a {
  color: #6070ff;
}

.menu {
  background: url(../images/Union.svg) no-repeat;
  width: 18px;
  height: 12px;
}

.info {
  display: flex;
  flex-flow: column;
  gap: 12px;
  padding: 114px 24px;
}

.intro {
  background: url(../images/header-shapes-mobile.svg), url(../images/header-background-mobile.svg);
  background-size: cover;
}

.socialmedia-btn-row {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.social-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 0;
}

.social-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.social-btn:active {
  background: #2230d2;
}

#btn-tw {
  background: url(../images/twicon.svg) no-repeat;
}

#btn-in {
  background: url(../images/Linkedin-icon.svg) no-repeat;
}

#btn-m {
  height: 16px;
  background: url(../images/micon.svg) no-repeat;
}

#btn-gh {
  width: 18px;
  background: url(../images/githubicon.svg) no-repeat;
}

#btn-pc {
  width: 14.17px;
  background: url(../images/peaceicon.svg) no-repeat;
}

.works {
  padding: 114px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
  column-gap: 24px;
  row-gap: 88px;
  justify-content: center;
}

.works img {
  width: 100%;
  height: auto;
}

.work {
  padding: 16px;
  gap: 12px;
  align-items: center;
  border: 0.1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  flex-grow: 0;
}

.work-card {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.work-card li {
  list-style-type: none;
  display: inline-block;
}

.work-btn {
  color: #396df2;
  background-color: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
}

.work-card .work-btn {
  margin-block: 8px;
}

.division {
  background: url(../images/Counter.svg);
  display: inline-block;
  width: 8px;
  height: 8px;
}

.cat-title {
  font-weight: 600;
  color: #344563;
  font-size: 13px;
  line-height: 123%;
}

.cat-descrip {
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
  line-height: 123%;
}

.work-descrip {
  font-weight: 400;
  color: #344563;
  font-size: 15px;
  line-height: 160%;
}

.work-langs {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.work-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.work-lang span {
  font-weight: 500;
  color: #6070ff;
}

.work-btn:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.work-btn:active {
  background: #2230d2;
  color: #fff;
}

.work-btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  background-color: #fff;
}

.about-contact {
  background: url(../images/Base-about-my-self.svg) no-repeat;
  background-size: cover;
  max-width: 892.8px;
  margin-inline: auto;
}

.skills {
  display: flex;
  flex-flow: column;
}

.skills li {
  list-style-type: none;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 87.2%;
  min-width: 200px;
  max-width: 327px;
  padding-block: 24px;
  padding-inline: 12px 40px;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

.arrow {
  background: url(../images/arrow.svg) no-repeat;
  display: inline-block;
  width: 8px;
  height: 14px;
}

.skills .skill-active {
  border-bottom: 0;
}

.arrow-active {
  transform: rotate(90deg);
}

.sub-skill {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 12px;
  padding-block: 9px 9.72px;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 12px;
  border-radius: 8px;
  min-width: 190px;
  max-width: 303px;
  cursor: pointer;
}

.sub-skill:hover {
  background-color: #bbbbbd;
}

.skills .sub-skill {
  border-bottom: 0;
}

.sub-skill img {
  width: 48px;
  height: 48px;
}

.background {
  float: right;
}

.bg-half {
  width: 50vw;
  height: 100%;
}

.about-contact .contact-container {
  background-image: url(../images/contact-form-shapes-mobile.svg), url(../images/Contact-me.svg);
  background-size: 60% 100%, cover;
  background-repeat: no-repeat;
  background-position: right top, left;
}

.contact-container .section-title {
  color: #fff;
  text-align: center;
}

.contact-container .description {
  font-weight: 400;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 40px;
}

.form-section input[type='text'],
.form-section input[type='email'],
.form-section textarea {
  min-width: 200px;
  width: 87.2vw;
  max-width: 400px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  height: 48px;
  padding-inline-start: 16px;
}

.form-section textarea {
  font-size: 15px;
  line-height: 160%;
  height: 170px;
}

@media only screen and (min-width: 375px) {
  .nav-header {
    min-width: 375px;
    height: 48px;
    padding-inline: 6.4vw;
  }

  .logo {
    font-size: 18px;
    line-height: 111%;
  }

  .info {
    padding: 114px 6.4vw;
    margin-inline: auto;
    align-items: flex-start;
  }

  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: 750px;
  }

  .info .makeconection {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7f8cff;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .info .socialmedia-btn-row {
    margin-inline: auto;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
    justify-content: flex-start;
  }

  .work-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: #172b4d;
  }

  .work-card li {
    margin-inline: 6px;
  }

  .skills {
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .skill {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .about-contact .contact-container {
    align-items: center;
    padding-block: 103px 45px;
  }

  .contact-container .section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
  }

  .contact-container .description {
    font-size: 20px;
    line-height: 140%;
  }
}
