:root {
  --font-1: #172b4d;
  --font-2: #6070ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column;
  color: var(--font-1);
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo a {
  color: var(--font-2);
}

#menu_toggle,
.menu {
  display: none;
}

.menu_hamburger {
  background: url(../images/Union.svg) no-repeat;
  width: 18px;
  height: 12px;
  display: block;
}

.info {
  --olp: 24px;
  --bp: 114px;

  display: flex;
  flex-flow: column;
  gap: 12px;
  padding: var(--bp) var(--olp);
  width: 100vw;
}

.intro {
  background: url(../images/header-shapes-mobile.svg), url(../images/header-background-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top, bottom left;
}

.socialmedia-btn-row {
  display: flex;
  gap: 20px;
}

.social-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 0;
}

.social-btn:hover {
  background-color: var(--font-2);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.3s ease;
}

.social-btn:active {
  background: #2230d2;
  transition: 0.3s ease;
}

#btn-tw {
  background: url(../images/twicon.svg) no-repeat;
}

#btn-in {
  background: url(../images/Linkedin-icon.svg) no-repeat;
}

#btn-m {
  height: 16px;
  background: url(../images/micon.svg) no-repeat;
}

#btn-gh {
  width: 18px;
  background: url(../images/githubicon.svg) no-repeat;
}

#btn-pc {
  width: 14.17px;
  background: url(../images/peaceicon.svg) no-repeat;
}

.works {
  --w: 704px;
  --n: 2;

  grid-template-columns: repeat(auto-fit, minmax(clamp(100%/(var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%), 1fr));
  padding: 114px 24px;
  display: grid;
  column-gap: 24px;
  row-gap: 88px;
  justify-content: center;
}

.works img {
  width: 100%;
  height: auto;
}

.work {
  padding: 16px;
  gap: 12px;
  align-items: center;
  border: 0.1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  flex-grow: 0;
}

.work-card {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.work-card li {
  display: inline-block;
}

.work-btn {
  color: #396df2;
  background-color: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
}

.work-card .work-btn {
  margin-block: 8px;
}

.division {
  background: url(../images/Counter.svg);
  display: inline-block;
  width: 8px;
  height: 8px;
}

.cat-title {
  font-weight: 600;
  color: #344563;
  font-size: 13px;
  line-height: 123%;
}

.cat-descrip {
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
  line-height: 123%;
}

.work-descrip {
  font-weight: 400;
  color: #344563;
  font-size: 15px;
  line-height: 160%;
}

.work-langs {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.work-lang {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.work-lang span {
  font-weight: 500;
  color: var(--font-2);
  font-size: 12px;
  line-height: 133%;
}

.work-btn:hover {
  background: var(--font-2);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.3s ease;
}

.work-btn:active {
  background: #2230d2;
  color: #fff;
  transition: 0.3s ease;
}

.work-btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  background-color: #fff;
}

.about-contact {
  background: url(../images/Base-about-my-self.svg) no-repeat;
  background-size: cover;
  max-width: 100vw;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 87.2%;
  min-width: 200px;
  max-width: 327px;
  padding-block: 24px;
  padding-inline: 12px 40px;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

.arrow {
  background: url(../images/arrow.svg) no-repeat;
  display: inline-block;
  width: 8px;
  height: 14px;
}

.skill-active {
  border-bottom: 0;
}

.arrow-active {
  transform: rotate(90deg);
}

.sub-skill {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 12px;
  padding-block: 9px 9.72px;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 12px;
  border-radius: 8px;
  max-width: 303px;
  cursor: pointer;
  border-bottom: 0;
}

.sub-skill:hover {
  background-color: #bbbbbd;
}

.sub-skill img {
  width: 48px;
  height: 48px;
}

.background {
  float: right;
}

.bg-half {
  width: 50vw;
  height: 100%;
}

.contact {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
}

.contact-info {
  background-image: url(../images/contact-form-shapes-mobile.svg), url(../images/Contact-me.svg);
  background-size: 60% 100%, cover;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
}

.contact-info .section-title {
  text-align: center;
  color: #fff;
  padding-bottom: 12px;
  font-weight: 700;
}

.contact-info .description {
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  padding-bottom: 52px;
}

#contact-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.form-section input,
.form-section textarea{
  display: block;
  width: 87vw;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  line-height: 118%;
  height: 48px;
}

.form-section textarea{
  font-size: 15px;
  line-height:160%;
  height: 170px;
}

@media only screen and (min-width: 375px) {
  .nav-header {
    min-width: 375px;
    height: 48px;
    padding-inline: 6.4vw;
  }

  .logo {
    font-size: 18px;
    line-height: 111%;
  }

  .info {
    --w: 750px + var(--olp) * 2;
    --c: (100vw - var(--w));
    --p: 6.4vw;

    padding: var(--bp) clamp(var(--olp), var(--c) * 1000, var(--p));
    margin-inline: auto;
    align-items: flex-start;
  }

  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: 750px;
  }

  .makeconection {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7f8cff;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .info .socialmedia-btn-row {
    margin-inline: auto;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
    justify-content: flex-start;
  }

  .work-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: var(--font-1);
  }

  .skills {
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .skill {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
  .contact-info .section-title {
    font-size:40px;
    line-height: 52px;
  }

  .contact-info .description {
    font-size: 20px;
    line-height: 28px;
  }
}