:root {
  --font-1: #172b4d;
  --font-2: #6070ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column;
  color: var(--font-1);
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo a {
  color: var(--font-2);
}

#menu_toggle,
.menu {
  display: none;
}

.menu_hamburger {
  background: url(../images/Union.svg) no-repeat;
  width: 18px;
  height: 12px;
  display: block;
}

.info {
  --olp: 24px;
  --bp: 114px;

  display: flex;
  flex-flow: column;
  gap: 12px;
  padding: var(--bp) var(--olp);
  width: 100vw;
}

.intro {
  background: url(../images/header-shapes-mobile.svg), url(../images/header-background-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top, bottom left;
}

.socialmedia-btn-row {
  display: flex;
  gap: 20px;
}

.social-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 0;
  transition: 0.3s ease;
}

.social-btn:hover {
  background-color: var(--font-2);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.3s ease;
}

.social-btn:active {
  background: #2230d2;
  transition: 0.3s ease;
}

#btn-tw {
  background: url(../images/twicon.svg) no-repeat;
}

#btn-in {
  background: url(../images/Linkedin-icon.svg) no-repeat;
}

#btn-m {
  height: 16px;
  background: url(../images/micon.svg) no-repeat;
}

#btn-gh {
  width: 18px;
  background: url(../images/githubicon.svg) no-repeat;
}

#btn-pc {
  width: 14.17px;
  background: url(../images/peaceicon.svg) no-repeat;
}

.works {
  --w: 704px;
  --n: 2;

  grid-template-columns: repeat(auto-fit, minmax(clamp(100%/(var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%), 1fr));
  padding: 114px 24px;
  display: grid;
  column-gap: 24px;
  row-gap: 88px;
  justify-content: center;
}

.works img {
  width: 100%;
  height: auto;
}

.work {
  padding: 16px;
  gap: 12px;
  align-items: center;
  border: 0.1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  flex-grow: 0;
}

.work-card {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.work-card li {
  display: inline-block;
}

.work-btn {
  color: #396df2;
  background-color: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  transition: 0.3s ease;
}

.work-card .work-btn {
  margin-block: 8px;
}

.division {
  background: url(../images/Counter.svg);
  display: inline-block;
  width: 8px;
  height: 8px;
}

.cat-title {
  font-weight: 600;
  color: #344563;
  font-size: 13px;
  line-height: 123%;
}

.cat-descrip {
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
  line-height: 123%;
}

.work-descrip {
  font-weight: 400;
  color: #344563;
  font-size: 15px;
  line-height: 160%;
}

.work-langs {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.work-lang {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.work-lang span {
  font-weight: 500;
  color: var(--font-2);
  font-size: 12px;
  line-height: 133%;
}

.work-btn:hover {
  background: var(--font-2);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.3s ease;
}

.work-btn:active {
  background: #2230d2;
  color: #fff;
  transition: 0.3s ease;
}

.work-btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  background-color: #fff;
}

.about-contact {
  background: url(../images/Base-about-my-self.svg) no-repeat;
  background-size: cover;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 87.2%;
  min-width: 200px;
  max-width: 327px;
  padding-block: 24px;
  padding-inline: 12px 40px;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

.arrow {
  background: url(../images/arrow.svg) no-repeat;
  display: inline-block;
  width: 8px;
  height: 14px;
}

.skill-active {
  border-bottom: 0;
}

.arrow-active {
  transform: rotate(90deg);
}

.sub-skill {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 12px;
  padding-block: 9px 9.72px;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 12px;
  border-radius: 8px;
  max-width: 303px;
  cursor: pointer;
  border-bottom: 0;
  transition: 0.3s ease;
}

.sub-skill:hover {
  background-color: #bbbbbd;
  transition: 0.3s ease;
}

.sub-skill img {
  width: 48px;
  height: 48px;
}

.background {
  float: right;
}

.bg-half {
  width: 50vw;
  height: 100%;
}

.contact {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
}

.contact-info {
  background-image: url(../images/contact-form-shapes-mobile.svg), url(../images/Contact-me.svg);
  background-size: 60% 100%, cover;
  background-repeat: no-repeat;
  background-position: right top, left;
}

.contact-info .section-title {
  text-align: center;
  color: #fff;
  padding-bottom: 12px;
  font-weight: 700;
}

.contact-info .description {
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  padding-bottom: 52px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}

.form-section input,
.form-section textarea {
  display: block;
  width: min(87vw, 100%);
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  line-height: 118%;
  height: 48px;
  max-width: 481px;
}

.form-section textarea {
  font-size: 15px;
  line-height: 160%;
  height: 170px;
}

@media only screen and (min-width: 375px) {
  .nav-header {
    min-width: 375px;
    height: 48px;
    padding-inline: 6.4vw;
  }

  .logo {
    font-size: 18px;
    line-height: 111%;
  }

  .info {
    --w: 750px + var(--olp) * 2;
    --c: (100vw - var(--w));
    --p: 6.4vw;

    padding: var(--bp) clamp(var(--olp), var(--c) * 1000, var(--p));
    margin-inline: auto;
    align-items: flex-start;
  }

  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: min(750px, 100%);
  }

  .makeconection {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7f8cff;
    text-align: left;
    vertical-align: top;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .info .socialmedia-btn-row {
    margin-inline: auto;
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
    justify-content: flex-start;
  }

  .work-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: var(--font-1);
  }

  .skills {
    min-width: 327px;
    width: 87.2vw;
    max-width: 400px;
  }

  .skill {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .contact-info {
    align-items: center;
  }

  .contact-info .section-title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .contact-info .description {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    max-width: 569px;
  }
}
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  .nav-header {
    width: clamp(100%, (1440px - 100vw) * 1000, 75%);
    padding-inline: clamp(min(10.77vw, 155px), (1440px - 100vw) * 1000, 155px);
    height: clamp(26px * 2 + max(18px, 1.25vw) * 1.11, (1440px - 100vw) * 1000, 1.801vw * 2 + max(18px, 1.25vw) * 1.11);
  }

  .menu {
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 0;
    gap: 32px;
  }

  .menu_hamburger {
    display: none;
  }

  .intro {
    --olpbig: var(--p);
    --pbig: 18.056vw;
    --w: 920px + var(--pbig) * 2;
    --cbig: (100vw - var(--w));
    --bpbig: clamp(var(--p), var(--cbig) * 1000, min(19.93vw, 287px));

    background: url(../images/header-shapes-big.svg), url(../images/header-background-big.svg);
    background-size: 97.04% 85.48%, cover;
    background-repeat: no-repeat;
    background-position: right top, bottom left;
    padding: var(--bpbig) clamp(var(--olpbig), var(--cbig) * 1000, var(--pbig));
  }

  .section-title {
    font-size: max(48px, 3.34vw);
    line-height: 125%;
  }

  .description {
    font-size: max(20px, 1.389vw);
    line-height: 140%;
  }

  .makeconection {
    font-size: max(16px, 1.11vw);
    line-height: 140%;
  }

  .social-btn {
    height: max(20px, 1.39vw);
    width: max(20px, 1.39vw);
  }

  #btn-m {
    height: max(16px, 1.112vw);
  }

  #btn-gh {
    width: max(18px, 1.25vw);
  }

  #btn-pc {
    width: max(14.17px, 0.984vw);
  }

  .logo {
    font-size: max(18px, 1.25vw);
  }

  .works {
    --w: 1920px;
    --n: 1;

    grid-template-columns: repeat(auto-fit, minmax(clamp(100%/(var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%), 1fr));
    padding: 142px 142px;
    display: grid;
    column-gap: 24px;
    row-gap: 88px;
    justify-content: center;
  }

  .work {
    padding: 24px;
    gap: 22px;
    align-items: center;
    border: 0.1px solid #dfe1e6;
    border-radius: 24px;
    background-color: #fff;
    flex-flow: row;
    flex-grow: 0;
    width: calc(100vw - 284px);
  }

  .works img {
    width: calc(50%);
    height: auto;
  }

  .work:nth-child(even) .work-card {
    order: -1;
  }

  .work-card {
    width: calc(50%);
    padding: 24px;
    gap: clamp(24px, (1300px - 100vw) * 1000, 0px);
  }

  .work-title {
    font-size: max(40px, 2.78vw);
    line-height: 130%;
  }

  .work-descrip {
    width: 91.51%;
    font-size: max(16px, 1.1vw);
    line-height: 150%;
  }

  .cat-title,
  .cat-descrip {
    font-size: max(18px, 1.25vw);
    line-height: 133%;
  }

  .work-lang span {
    font-size: max(12px, 0.833vw);
  }

  .about.info {
    flex-flow: row;
    padding: 142px clamp(142px, (100vw -1440px) * 1000, 9.86vw);
    gap: 24px;
  }

  .contact {
    width: 31.04vw;
  }

  .skills {
    width: 47.5vw;
  }

  .skill {
    width: 47.5vw;
    max-width: 684px;
  }

  .contact-info {
    background-image: url(../images/contact-form-shapes-desktop.svg), url(../images/contact-me-desktop.svg);
    background-size: 89.63% 85%, cover;
    background-repeat: no-repeat;
    background-position: center, top left;
    padding-block: 142px;
  }

  .contact .section-title {
    font-size: max(40px, 2.78vw);
    line-height: 130%;
    min-width: 0;
  }

  .contact .description {
    font-size: max(16px, 1.11vw);
    line-height: 150%;
    min-width: 0;
    width: 100%;
  }

  .sub-skills {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
    width: 46vw;
    max-width: 662px;
  }

  .sub-skill {
    flex-flow: column;
    width: 122px;
    height: 120px;
    margin: 0;
    align-items: flex-start;
  }
  
  .form-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form-section input
  .form-section textarea {
    max-width: 447px;
  }
}
